
<%= link_to 'Edit Account', edit_employee_path %>  *
  <%= render 'layouts/links' %> 

  <h2> Scoreboard </h2> <br> 

  <% if @employee == current_employee %>
    <strong> Region: </strong> <%= @employee.region %> <br> <br>
    <strong> Employee Number: </strong> <%= @employee.id %> <br> <br>
    <strong> Name: </strong> <%= @employee.name %> <br> <br>
    <strong> Job Title: </strong> <%= @employee.position %> <br><br> 
    <strong> Email: </strong> <%= @employee.email %> <br><br> 

  <%= button_to "Delete", @employee, :method => :delete %><br> 
================================================================================================
<br> <br>

<%= link_to "New Sales", new_employee_sale_path(@employee) %> 

<br> <br>
    <% @salez.each do |sales| %> 

      <% if current_employee == sales.employee %>
      
        <strong> Product Name: </strong> <%= link_to sales.product_name, employee_sale_path(@employee) %> <br>
          <strong> Quantity: </strong> <%= sales.quantity %> shares <br> 
            <strong> Sales Rate: </strong> $  <%= sales.sales_rate %> per share <br>
          <strong> Sales Amount: </strong> $ <%= sales.quantity * sales.sales_rate %><br>  
        <strong> Sales Commission Rate: </strong> <%= sales.commission_rate %> bps <br>
        <strong> Sales Commission Amount: </strong> $ <%= sales.quantity * sales.sales_rate * sales.commission_rate/10000 %> </li> <br> <br>
        <!--  <%= button_to "Delete", sales, :method => :delete %><br>  <br>  -->
      <% end %>
    <% end %>
  <% end %>
 