<%= link_to 'Main_Menu', root_path %>  * 
<%= link_to 'Employee Account', @employee %> *
<%= link_to 'Edit Account', edit_employee_path %>  *
<%= link_to 'Product List', products_path %> *
<%= link_to 'Sales', sales_path %>   * 

<%= link_to 'Sign out', destroy_employee_session_path, method: :delete %><br> <br> 


<h2> Score Board </h2> <br> 

<strong> Region: </strong> <%= @employee.region %> <br> <br>
<strong> Name: </strong> <%= @employee.name %> <br> <br>
<strong> Job Title: </strong> <%= @employee.position %> <br><br> 

<br>
================================================================================================
