
<%= link_to 'Edit Account', edit_employee_path %>  *
<%= render 'layouts/links' %> 

<h2> Account Information </h2> <br> 

<strong> Region: </strong> <%= @employee.region %> <br> <br>
<strong> Employee Number: </strong> <%= @employee.id %> <br> <br>
<strong> Name: </strong> <%= @employee.name %> <br> <br>
<strong> Job Title: </strong> <%= @employee.position %> <br><br> 

<br>
================================================================================================


