  <%= render 'layouts/employee_links' %> <br>

  <h2> <strong> Scoreboard </strong></h2> <br> 

  <% if @employee == current_employee %>

  <h5> Employee Number: <%= @employee.id %></h5> <br> 
    <h5> Name: <%= @employee.name %> </h5><br> 

    <h5> Region: <%= @employee.region %> </h5><br> 
    
    <h5> Job Title: <%= @employee.position %></h5> <br>
    <h5> Email: <%= @employee.email %></h5> <br>

  
======================================================================================================================================================
<br> <br>
    <% @salez.each do |sales| %> 

      <% if current_employee == sales.employee %>
      
        <strong> Product Name: </strong> <%= link_to sales.product_name, employee_sale_path(@employee) %> <br>
          <strong> Quantity: </strong> <%= sales.quantity %> shares <br> 
            <strong> Sales Rate: </strong> $  <%= sales.sales_rate %> per share <br>
          <strong> Sales Amount: </strong> $ <%= sales.quantity * sales.sales_rate %><br>  
        <strong> Sales Commission Rate: </strong> <%= sales.commission_rate %> bps <br>
        <strong> Sales Commission Amount: </strong> $ <%= sales.quantity * sales.sales_rate * sales.commission_rate/10000 %> </li> <br> <br>
        <!--  <%= button_to "Delete", sales, :method => :delete %><br>  <br>  -->
      <% end %>
    <% end %>
  <% end %>
 