<%= render 'layouts/employee_links' %> <br>

<h3> Employee List </h3> <br> <br>
 
  <% @employees.each do |employee| %>
    Employee ID: <%= employee.id %> <br>
      Name: <%= disaplay_employee_name(employee) %> <br>
        Region:  <%= employee.region %>  <br>
      Job Tilte: <%= employee.position %> <br>
    Email: <%= employee.email %>   <br> <br>
  <% end %>



