<%= render 'layouts/employee_links' %> <br>

<h2> Employee List </h2> <br> <br>

  <% @employees.each do |employee| %>

  <% if employee == current_employee %>

    Employee ID: <%= employee.id %> <br>
      Name: <%= link_to employee.name, employee_path(employee) %> <br>
      Region:  <%= employee.region %>  <br>
      Job Tilte: <%= employee.position %> <br>
      Email: <%= employee.email %>   <br>

    <!--<%= button_to "Delete", employee, :method => :delete %><br> --> <br>

  <% else %>

    Employee ID: <%= employee.id %> <br>
      Name:  <%= employee.name %>  <br>
      Region:  <%= employee.region %>  <br>
      Job Tilte:  <%= employee.position %> <br>
      Email: <%= employee.email %>  <br>

    <!-- <%= button_to "Delete", employee, :method => :delete %> -->
  <% end %><br>

<% end %>


