<nav class="navbar navbar-light bg-light">
  <h5> Employee Links:</h5> 
    <a class="nav-item nav-link active"> <%= link_to 'Employee List', employees_path %> </a> /
    <a class="nav-item nav-link active"> <%= link_to 'Scoreboard', current_employee %> </a> / 
    <a class="nav-item nav-link active"> <%= link_to 'Edit Employee', edit_employee_path(current_employee) %></a> /
    <a class="nav-item nav-link active"> <%= link_to "New Sales", new_employee_sale_path(current_employee) %></a> 
</nav> <br> <br>  

<h2> Employee List </h2> <br> <br>

  <% @employee.each do |employee| %> 

    <% if employee == current_employee %>

      Employee ID: <%= employee.id %> <br>
        Name: <%= link_to employee.name, employee_path(employee) %> <br> 
        Region:  <%= employee.region %>  <br> 
        Job Tilte: <%= employee.position %> <br>
        Email: <%= employee.email %>   <br>    
    <!--<%= button_to "Delete", employee, :method => :delete %><br> --> <br> 

    <% else %>

      Employee ID: <%= employee.id %> <br>
        Name:  <%= employee.name %>  <br>       
        Region:  <%= employee.region %>  <br> 
        Job Tilte:  <%= employee.position %> <br>
        Email: <%= employee.email %>  <br>   
      <!-- <%= button_to "Delete", employee, :method => :delete %> --><br>  <br>  

    <% end %> <br> 
 
<% end %>


