<%= render 'layouts/product_links' %> <br> <br>

<h2> Product List </h2>
<ol>
<% @products.each do|product| %> 
  <li> Product Number: <%= product.id %> <br> 
    Product Name: <%= link_to product.name, product_path(product) %> <br>
      Product Description: <%= product.description %> <br> <br></li>
  
<!-- <%= button_to "Delete", @product, :method => :delete %><br> -->  

<% end %>
</ol>
<br>
<br>