<%= link_to "Edit Product", edit_product_path(@product) %>  *
<%= render 'layouts/links' %>

<h2> Product information </h2> <br>

  <strong> Product Name: </strong> <%= @product.name %> <br> <br>
    <strong> Product Description: </strong> <%= @product.description %>
      <br> <br>
 
<%= button_to "Delete", @product, :method => :delete %> <br> <br>
 
  
 