<br> <br>

<%= form_for @sales, url: sales_path do |f| %>
 
   <div class="action">	
     <strong> <%= f.label :employee_name %> : </strong> <%= current_employee.name %> 
      <!-- <%= f.collection_select(:employee_id, Employee.all, :id, :name) %> <br> <br> -->     	
      <%= f.hidden_field :employee_id %> 
   </div> <br> 

   <div class="action">
    <strong> <%= f.label :product_name %> : </strong>
      <%= f.collection_select(:product_name, Product.all, :name, :name) %><br><br>   
     <%=f.hidden_field :product_id %>
   </div>

     <div class="action">
      <strong> <%= f.label :quantity %> : </strong>
        <%= f.number_field :quantity %> <strong> shares </strong> <br><br>
    </div>

    <div class="action">
      <strong> <%= f.label :sales_rate %> $: </strong>
        <%= f.number_field :sales_rate %> <strong> per share </strong><br><br>
    </div>

    <div class="action">
      <strong> <%= f.label :commission_rate %> : </strong>
        <%= f.number_field :commission_rate %> <strong> bps </strong> <br><br>
    </div> <br>

      <%= f.submit "Submit" %> 
     
<% end %>