<%= form_with model: @sales, url: sales_path do |f| %>

<div class="action">
    <%= f.label :employee_id %> : 
      <%= f.collection_select(:employee_id, Employee.all, :id, :id) %>  
    <br> <br>
  </div>

  <div class="action">
    <%= f.label :employee_name %> : 
      <%= f.collection_select(:employee_name, Employee.all, :id, :name) %>
    <br> <br>
  </div>

  <div class="action">
    <%= f.label :product_name %> :
      <%= f.collection_select(:product_name, Product.all, :name, :name) %> <br><br>
  </div>

  <div class="action">
    <%= f.label :product_id %> Number :
      <%= f.collection_select(:product_id, Product.all, :id, :id) %> <br><br>
  </div>

  <div class="action">
    <%= f.label :quantity %> :
      <%= f.number_field :quantity %><br><br>
  </div>

  <div class="action">
    <%= f.label :sales_rate %> price per share:
      <%= f.number_field :sales_rate %><br><br>
  </div>

  <div class="action">
    <%= f.label :commission_rate %> %
      <%= f.number_field :commission_rate %><br><br>
  </div>

    <%= f.submit "Submit" %>
    
 

<% end %>