<br> <br>

<% @sales.each do |sale| %>

  <strong> Region: </strong> <%= sale.employee.region %> <br>
      <strong> Employee: </strong> <%= display_employee_name(sale) %> <br>
        <strong> Product Name: </strong> <%= display_product_name(sale) %> <br>
          <strong> Quantity: </strong> <%= sale.quantity %> shares <br>
            <strong> Sales Rate: </strong> $  <%= sale.sales_rate %> per share <br>
          <strong> Total Sales: </strong> $ <%= sale.total_sales %><br>
        <strong> Sales Commission Rate: </strong> <%= sale.commission_rate %> bps <br>
      <strong> Sales Commission Amount: </strong> $ <%= sale.total_commission %> </li> <br> <br>
    <!--  <%= button_to "Delete", sale, :method => :delete %><br>  <br>  -->

<% end %>  <br> <br> <br>