<fieldset>
<br>
  <table>
 
    <tr>
    <th> <strong> Sales ID </strong> </th>
      <th> <strong> Product ID </strong> </th> 
        <th> <strong> Product Name </strong> </th> 
          <th> <strong> Sales Quantity </strong> </th> 
            <th> <strong> Sales Rate </strong> </th> 
          <th> <strong> Total Sales </strong> </th> 
        <th> <strong> Commission Rate </strong> </th> 
        <th> <strong> Commission Amount </strong> </th> 
      </tr> <br>

     <td> <%= @sales_id %> <br>
      <td> <%= @sales.product_id %> </td> 
        <td> <%= link_to @sales.product.name, product_path(@sales.product) if @sales.product %></td> 
          <td> <%= @sales.quantity %> shares </td> 
          <td> <%= @sales.sales_rate %> per shares </td> 
        <td> $ <%= @sales.quantity * @sales.sales_rate %> </td> 
      <td><%= @sales.commission_rate %> bps </td> 
    <td> $ <%= (@sales.quantity * @sales.sales_rate * @sales.commission_rate)/10000 %> </td>
  
  </table> <br> 
  <%= button_to "Delete Sales", @sales, :method => :delete %> <br> <br>
  
    </fieldset><br> 

