<%= link_to 'Main_Menu', root_path %>  * 
<%= link_to 'Employee Account', employee_path %> *

<%= render 'layouts/links' %>
<br>
<h2> Edit Sales </h2>
<br>
<% if current_employee == @sales.employee%>
<!-- <%= render 'form' %> -->
<%= form_for @sales do |f| %>

<div class="action">
    <%= f.label :employee_id %> : 
    <%= f.collection_select(:employee_id, Employee.all, :id, :id) %>
     
    <br> <br>
  </div>
  
  <div class="action">
    <%= f.label :employee_name %> : 
      <%= f.collection_select(:employee_name, Employee.all, :id, :name) %>
    <br> <br>
  </div>

  <div class="action">
    <%= f.label :product_name %> :
      <%= f.collection_select(:product_name, Product.all, :name, :name) %> <br><br>
  </div>

  <div class="action">
    <%= f.label :product_id %> Number :
      <%= f.collection_select(:product_id, Product.all, :id, :id) %> <br><br>
  </div>

  <div class="action">
    <%= f.label :quantity %> :
      <%= f.number_field :quantity %> shares <br><br>
  </div>

  <div class="action">
    <%= f.label :sales_rate %> Price Per Share:
      <%= f.number_field :sales_rate %><br><br>
  </div>

  <div class="action">
    <%= f.label :commission_rate %> : 
      <%= f.number_field :commission_rate %> bps <br><br>
  </div> <br>

    <%= f.submit "Submit" %>
    
 <% end %>
<% end %>