<%= link_to 'Main_Menu', root_path %>  * 
<%= link_to 'Account Information', current_employee %> *

<%= link_to 'Product', products_path %> *
<%= link_to "Create Product", new_product_path %> *

<%= link_to 'Sales', sales_path %> * 
<%= link_to 'New Sales', new_sale_path %> *
<%= link_to 'Sign out', destroy_employee_session_path, method: :delete %><br> <br> 

<H2> Sales List </h2>

<% @sales.each do |sale| %>

<strong> Employee: </strong> <%= sale.employee.name %>
<strong> Product Name: </strong> <%= sale.product_name %> <br>
<strong> Sales Amount: </strong> $ <%= sale.sales_amount %> <br>
<strong> Sales Commission Rate: </strong> <%= sale.commission_rate %> % <br>
<strong> Sales Commission Amount: </strong> $ <%= sale.commission_amount %> <br><br>
<br>

<% end %>
<br>
<br>

