<%= render 'layouts/links' %>

<H2> Sales List </h2>


<% @salez.each do |sales| %>
  <% if current_employee == sales.employee %>
    <li> <strong> Employee: </strong> <%= link_to sales.employee.name, employees_path(@employee) %><br> 
      <strong> Product Name: </strong> <%= link_to sales.product_name, sale_path(sales) %> <br>
        <strong> Quantity: </strong> <%= sales.quantity %> Per Share <br>
          <strong> Sales Rate: </strong> $  <%= sales.sales_rate %> <br>
        <strong> Sales Amount: </strong> $ <%= sales.quantity * sales.sales_rate %> <br>  
      <strong> Sales Commission Rate: </strong> <%= sales.commission_rate %> % <br>
    <strong> Sales Commission Amount: </strong> $ <%= sales.quantity * sales.sales_rate * sales.commission_rate/100 %> <br> <br>
  <% else %>  
    <strong> Employee: </strong> <%= sales.employee.name %> <br>
      <strong> Product Name: </strong> <%= sales.product_name %> <br>
        <strong> Quantity: </strong> <%= sales.quantity %> Per Share <br>
      <strong> Sales Rate: </strong> $  <%= sales.sales_rate %> <br>
    <strong> Sales Amount: </strong> $ <%= sales.quantity * sales.sales_rate %> <br> 
    <strong> Sales Commission Rate: </strong> <%= sales.commission_rate %> % <br> 
 <strong> Sales Commission Amount: </strong> $ <%= sales.quantity * sales.sales_rate * sales.commission_rate/100 %> <br><br> 
  <br>
  <% end %>
<% end %>
  <br> <br>



