<%= link_to 'Main_Menu', root_path %>  * 
<%= link_to 'Account Information', current_employee %> *

<%= link_to 'Product', products_path %> *
<%= link_to "Create Product", new_product_path %> *

<%= link_to 'Sales', sales_path %> * 
<%= link_to 'New Sales', new_sale_path %> *
<%= link_to 'Sign out', destroy_employee_session_path, method: :delete %><br> <br> 


<h2> New Sales </h2><br>

<%= form_with scope: :sale,  sales_path(@sale), method: :patch, do |f| %>

<div class="action">
<%= f.label :employee_name %> : 
<%= collection_select(:employee_name, :employee_id, Employee.all, :id, :name) %>
<br> <br>
</div>

<div class="action">
<%= f.label :product_name %> :
<%= collection_select(:product_name, :product_id, Product.all, :id, :name) %> <br><br>
</div>

<div class="action">
<%= f.label :product_id %> Number :
<%= f.collection_select :product_id, Product.all, :id, :id %> <br><br>
</div>

<div class="action">
<%= f.label :quantity %> :
<%= f.number_field :quantity %><br><br>
</div>

<div class="action">
<%= f.label :sales_rate %> price per share:
<%= f.number_field :sales_rate %><br><br>
</div>

<div class="action">
<%= f.label :sales_amount %> $:
<%= f.number_field :sales_amount %><br><br>
</div>

<div class="action">
<%= f.label :commission_rate %> %
<%= f.number_field :commission_rate %><br><br>
</div>

<div class="action">
<%= f.label :commission_amount %> $:
<%= f.number_field :commission_amount %><br><br>
</div>


<%= f.submit "Submit" %>

<% end %>

