<%= link_to 'Main_Menu', root_path %>  * 
<%= link_to 'Account Information', current_employee %> *

<%= link_to 'Product', products_path %> *
<%= link_to "Create Product", new_product_path %> *

<%= link_to 'Sales', sales_path %> * 
<%= link_to 'New Sales', new_sale_path %> *
<%= link_to 'Sign out', destroy_employee_session_path, method: :delete %><br> <br> 


<h2> Sales Report </h2>

=====================================================================================================
<br>

<table>
<tr>
<th> <strong> Product ID: </strong> </th> <td> <%= @sales.product_id %> </td> 
<th> <strong> Product Name: </strong> </th> <td> <%= @sales.product_name %></td>
<th> <strong> Sales Quantity: </strong> </th> <td> <%= @sales.quantity %> </td> 
<th> <strong> Commission Rate: </strong> </th> <td><%= @sales.commission_rate %> </td> 
<th> <strong> Commission Amount: </strong> </th> <td> <%= @sales.commission_amount %> </td> 
<tr>
</table>
<br> <br>
<%= button_to "delete", @sales, :method => :delete %>

 
