<%= link_to 'Main_Menu', root_path %>  * 
<%= link_to 'Account Information', current_employee %> *

<%= link_to 'Product', products_path %> *
<%= link_to "Create Product", new_product_path %> *

<%= link_to 'Sales', sales_path %> * 
<%= link_to 'New Sales', new_sale_path %> *
<%= link_to 'Sign out', destroy_employee_session_path, method: :delete %><br> <br> 


<h2> Sales Report </h2>

=====================================================================================================
<br>
<table>
<tr>
<td> <strong> Product ID: </strong> <%= @sales.product_id %> </td> 
<td> <strong> Product Name: </strong> <%= @sales.product_name %></td>
<td> <strong> Sales Quantity: </strong> <%= @sales.quantity %> </td> 
<td> <strong> Sales Amount: </strong> <%= @sales.sales_amount %> </td>
<td> <strong> Commission Rate: </strong> <%= @sales.commission_rate %> </td> 
<td> <strong> Commission Amount: </strong> <%= @sales.commission_amount %> </td> 
<tr>
</table>
<br> <br>

<%= link_to "Edit sales", edit_sale_path %>  <br> <br> 
 <%= link_to "Delete Product", @sales, method: :delete %>
 <br> <br>
