<nav class="navbar navbar-light bg-light">

<strong> Employee Links: </strong>
<% if current_employee %>

<a class="nav-item nav-link active"> <%= link_to 'Employee List', employees_path %> </a> /
<a class="nav-item nav-link active"> <%= link_to 'Scoreboard', current_employee %> </a> / 
<a class="nav-item nav-link active"> <%= link_to 'Edit Employee', edit_employee_path(current_employee) %></a> /
<a class="nav-item nav-link active"> <%= link_to "New Sales", new_employee_sale_path(current_employee) %></a> /
<a class="nav-item nav-link active"> <%= link_to "Delete", @employee, :method => :delete %></a> 

<% end %>

</nav>
<br> <br>  