<nav class="navbar navbar-light bg-light">
  <h5> Employee Links:</h5> 
    <a class="nav-item nav-link active"> <%= link_to 'Employee List', employees_path %> </a> /
    <a class="nav-item nav-link active"> <%= link_to 'Scoreboard', current_employee %> </a> / 
    <a class="nav-item nav-link active"> <%= link_to 'Edit Employee', edit_employee_path(current_employee) %></a> /
    <a class="nav-item nav-link active"> <%= link_to "New Sales", new_employee_sale_path(current_employee) %></a>  
    <!-- <a class="nav-item nav-link active"> <%= link_to "Delete", @employee, :method => :delete %></a> #  admin only -->
  </h5>
</nav> <br> <br>  